#rep-src-iframe-container {
  min-height: 450px;
  position: relative;
  > .progress-bar {
    width: 100%;
  }
}

#rep-src-iframe {
  width: 100%;
  border: none;
  padding: 0;
  margin: 0;
  height: 0;
}
