:root {
  --rep-brand-color: #4a90e2;
  --rep-brand-border-color: rgb(52.0214285714, 130.5214285714, 222.4785714286);
  --rep-brand-hover-bg-color: rgb(34.3857142857, 117.3857142857, 214.6142857143);
  --rep-brand-hover-border-color: rgb(29.4557142857, 100.5557142857, 183.8442857143);
  --rep-brand-focus-bg-color: var(--rep-brand-hover-border-color);
  --rep-brand-focus-border-color: rgb(20.3, 69.3, 126.7);
  --rep-brand-form-focus-border-color: rgb(161.9142857143, 197.9142857143, 240.0857142857);

  --rep-link-color: var(--rep-brand-color);
  --rep-link-focus-color: rgb(30.8642857143, 105.3642857143, 192.6357142857);

  --rep-gray: #818a91;

  --rep-gray-light: #dedede;

  --rep-gray-lighter: #f1f3f4;
  --rep-gray-lighter-border-color: rgb(226.72, 230.76, 232.78);
  --rep-gray-lighter-hover-bg-color: rgb(212.44, 218.52, 221.56);
  --rep-gray-lighter-hover-border-color: rgb(192.448, 201.384, 205.852);
  --rep-gray-lighter-focus-bg-color: var(--rep-gray-lighter-hover-border-color);
  --rep-gray-lighter-focus-border-color: rgb(155.32, 169.56, 176.68);

  --rep-danger-color: #d9534f;
  --rep-danger-border-color: rgb(212.4719626168, 62.5046728972, 58.0280373832);
  --rep-danger-hover-bg-color: rgb(201.4953271028, 48.0841121495, 43.5046728972);
  --rep-danger-hover-border-color: rgb(172.1345794393, 41.0775700935, 37.1654205607);
  --rep-danger-focus-bg-color: var(--rep-danger-hover-border-color);
  --rep-danger-focus-border-color: rgb(117.6074766355, 28.0654205607, 25.3925233645);

  --rep-breadcrumb-bg: var(--rep-gray-lighter);

  --rep-grid-gutter: 30px;
  --rep-font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --rep-font-size-nav: 1.15em;
  --rep-text-color: rgba(black, 0.87);
  --rep-text-color-secondary: #263238;
}

#rep-src-iframe-container {
  min-height: 450px;
  position: relative;
}
#rep-src-iframe-container > .progress-bar {
  width: 100%;
}

#rep-src-iframe {
  width: 100%;
  border: none;
  padding: 0;
  margin: 0;
  height: 0;
}

.rep--main-container a {
  color: var(--rep-link-color);
  text-decoration: none;
  transition: color 0.1s linear;
}
.rep--main-container a:active, .rep--main-container a:focus, .rep--main-container a:hover {
  color: var(--rep-link-focus-color);
}
.rep--main-container a:active {
  outline: none;
}
.rep--main-container a:focus {
  outline: thin dotted;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}

.rep--main-container hr {
  margin-top: 20px;
  margin-bottom: 20px;
  border: 0;
  border-top: 1px solid var(--rep-gray-lighter);
}

.rep--main-container {
  box-sizing: border-box;
  color: var(--rep-text-color);
  font-family: var(--rep-font-family);
}
.rep--main-container *, .rep--main-container *::before, .rep--main-container *::after {
  box-sizing: inherit;
}
.rep--row {
  margin-left: calc(var(--rep-grid-gutter) / -2);
  margin-right: calc(var(--rep-grid-gutter) / -2);
}
.rep--row::after {
  content: "";
  display: table;
  clear: both;
}

.rep--email-headers, .rep--email-list-half, .rep--email-nav-container {
  position: relative;
  min-height: 1px;
  padding-right: calc(var(--rep-grid-gutter) / 2);
  padding-left: calc(var(--rep-grid-gutter) / 2);
}

@media (min-width: 768px) {
  .rep--email-nav-container {
    float: left;
    width: 33.3333333333%;
  }

  .rep--email-list-half {
    float: left;
    width: 50%;
  }

  .rep--email-headers {
    float: left;
    width: 66.6666666667%;
  }
}

.rep--breadcrumbs {
  padding: 0.75rem 1rem;
  margin-bottom: 1rem;
  font-size: var(--rep-font-size-nav);
  list-style: none;
  background-color: var(--rep-breadcrumb-bg);
}

.rep--breadcrumbs__breadcrumb {
  display: inline-block;
}
.rep--breadcrumbs__breadcrumb + ::before {
  display: inline-block;
  padding: 0 0.5em;
  color: var(--rep-gray-light);
  content: "/";
}

.rep--breadcrumbs__breadcrumb-active {
  display: inline-block;
}

.rep--headers-list {
  margin: 0;
}
.rep--headers-list dt {
  color: var(--rep-text-color-secondary);
  font-weight: bold;
}
@media (min-width: 768px) {
  .rep--headers-list dt {
    float: left;
    clear: left;
    margin-right: 0.4em;
    text-align: right;
    width: 6em;
  }
}
.rep--headers-list dd {
  width: auto;
  margin-left: 0;
  margin-bottom: 0.2em;
}

.rep--btn {
  appearance: none;
  -webkit-font-smoothing: antialiased;
  border: 1px solid;
  cursor: pointer;
  display: inline-block;
  font-weight: 600;
  padding: 0.75em 1em;
  text-decoration: none;
  user-select: none;
  vertical-align: middle;
  text-align: center;
  white-space: nowrap;
  transition: all 0.2s ease-in-out;
}
.rep--btn:active, .rep--btn.rep--btn-active {
  background-image: none;
  outline: 0;
  box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
}
.rep--btn:focus {
  outline: none;
}

.rep--btn-default {
  color: #111;
  background: var(--rep-gray-lighter);
  border-color: var(--rep-gray-lighter-border-color);
}
.rep--btn-default:hover {
  background: var(--rep-gray-lighter-hover-bg-color);
  border-color: var(--rep-gray-lighter-hover-border-color);
}
.rep--btn-default:focus {
  box-shadow: 0 0 3px var(--rep-gray-lighter);
  background-color: var(--rep-gray-lighter-focus-bg-color);
  border-color: var(--rep-gray-lighter-focus-border-color);
}

.rep--btn-primary {
  color: #fff;
  background: var(--rep-brand-color);
  border-color: var(--rep-brand-border-color);
}
.rep--btn-primary:hover {
  background: var(--rep-brand-hover-bg-color);
  border-color: var(--rep-brand-hover-border-color);
}
.rep--btn-primary:focus {
  box-shadow: 0 0 3px var(--rep-brand-color);
  background-color: var(--rep-brand-focus-bg-color);
  border-color: var(--rep-brand-focus-border-color);
}

.rep--btn-danger {
  color: #fff;
  background: var(--rep-danger-color);
  border-color: var(--rep-danger-border-color);
}
.rep--btn-danger:hover {
  background: var(--rep-danger-hover-bg-color);
  border-color: var(--rep-danger-hover-border-color);
}
.rep--btn-danger:focus {
  box-shadow: 0 0 3px var(--rep-danger-color);
  background-color: var(--rep-danger-focus-bg-color);
  border-color: var(--rep-danger-focus-border-color);
}

.rep--btn-group .rep--btn + .rep--btn {
  margin-left: -1px;
}
.rep--btn-group .rep--btn {
  z-index: 1;
}
.rep--btn-group .rep--btn.rep--btn-active {
  z-index: 2;
}
.rep--btn-group .rep--btn:focus, .rep--btn-group .rep--btn:hover {
  z-index: 3;
}

.rep--list-group {
  font-size: var(--rep-font-size-nav);
}

.rep--list-group__item {
  display: block;
  padding: 1rem 1.5rem;
}
.rep--list-group__item:hover {
  background-color: var(--rep-gray-lighter);
  transition: background-color ease-in-out 0.15s, background-color ease-in-out 0.15s;
}
.rep--list-group__item + .rep--list-group__item {
  border-top: 1px solid var(--rep-gray-light);
}

.rep--panel {
  box-shadow: inset 0 0 0 1px rgba(0, 0, 0, 0.125);
  padding: 1.25rem;
  margin-bottom: 1rem;
}

.rep--email-options {
  font-size: 0.875rem;
  text-align: left;
}
.rep--email-options p {
  margin-top: 0;
}
@media (min-width: 768px) {
  .rep--email-options {
    text-align: right;
  }
}

.rep--send-to-form {
  display: block;
  white-space: nowrap;
  padding-bottom: 4px;
}
.rep--send-to-form button, .rep--send-to-form [type=email] {
  display: inline-block;
}
.rep--send-to-form button:focus, .rep--send-to-form button:active, .rep--send-to-form [type=email]:focus, .rep--send-to-form [type=email]:active {
  z-index: 2;
}
.rep--send-to-form button {
  line-height: 1.25;
  padding: 0.5rem;
}
.rep--send-to-form [type=email] {
  max-width: 135px;
  padding: 0.5rem;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

.rep--form-control {
  padding: 0.5rem 0.75rem;
  line-height: 1.25;
  background-image: none;
  background-clip: padding-box;
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-radius: 0.25rem;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
}
.rep--form-control::placeholder {
  color: #999;
  opacity: 1;
}
.rep--form-control:focus {
  border-color: var(--rep-brand-form-focus-border-color);
  outline: none;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 175, 233, 0.6);
}

.rep--footer {
  text-align: center;
  color: var(--rep-gray);
}

body {
  margin: 0;
  padding: 0;
}

.rep-standalone-container {
  padding: 0 15px;
}
