javascript:
  (function(doc) {
    var rep = window['rep'] || (window['rep'] = { resizeAttached: false });
    rep.loaded = false;

    function findIframe() {
      return doc.getElementById('src-iframe');
    }

    function resizeIframe() {
      var el = findIframe();
      if (!el) {
        rep.loaded = false;
        return;
      }
      var iframeBody = el.contentWindow.document.body;
      if (iframeBody) {
        el.style.height = (getBodyHeight(iframeBody)) + "px";
      }
    }

    function getBodyHeight(body) {
      // browser compat
      return Math.max(body.scrollHeight, body.offsetHeight, body.clientHeight);
    }

    // This is only called back once the iframe has finished loading everything, including images
    rep.iframeOnLoad = function() {
      rep.loaded = true;
      resizeIframe();

      // CMS refresh headers hook
      if (rep.fetchHeadersOnNextLoad) {
        rep.fetchHeadersOnNextLoad = false;
        var headersView = doc.getElementById('email-headers'),
            xhr = new XMLHttpRequest();
        xhr.open('GET', headersView.getAttribute('data-url'), true);
        xhr.setRequestHeader('X-Requested-With', 'XMLHttpRequest');
        xhr.send(null);
        xhr.onreadystatechange = function() {
          if (xhr.readyState === 4) {
            headersView.innerHTML = xhr.responseText;
          }
        }
      }
    };

    // Resize on window resize
    if (!rep.resizeAttached) {
      window.addEventListener('resize', function() {
        if (rep.loaded) resizeIframe();
      }, true);
      rep.resizeAttached = true
    }
  })(document);


div style='min-height: 400px; position: relative'
  .progress style='position: absolute; z-index: -1; width: 100%; text-align: center'
    .progress-bar.progress-bar-striped.active style='width:100%'
      = t 'rep.base.loading'

  iframe#src-iframe[
    srcdoc=(@mail_body_html.to_str) seamless="seamless" onload='rep.iframeOnLoad()'
    style='width:100%;border:none;padding:0;margin:0;height:0;']
