javascript:
  (function(doc){
    var rep = window.rep = window['rep'] || {
       resizeIframe: function(id) {
          var el = doc.getElementById(id);
          if (!el) return;
          var w = el.parentNode.clientWidth,
              h = el.contentWindow.document.body.scrollHeight;
          el.height = (h) + "px";
          el.width  = (w) + "px";
        },
        iframeLoad: function(id){
          document.getElementById('loading-el').style.display = 'none';
          setTimeout(function() { rep.resizeIframe(id); rep.loaded = true; });
        },
        resizeAttached: false
    };
    rep.loaded = false;
    if (!rep.resizeAttached) {
      window.addEventListener('resize', function() {
        if (rep.loaded) rep.resizeIframe('src-iframe');
      });
      rep.resizeAttached = true
    }
  })(document)

pre#loading-el.lead
  i.icon-spinner.icon-spin
  |  #{t 'rep.base.loading'}
iframe#src-iframe[src=rails_email_preview.rep_raw_email_url(params.slice(:preview_id, :part_type).merge(params.except(*request.path_parameters.keys)).merge(email_locale: @email_locale))
  width="100%" height=1 onLoad="rep.iframeLoad('src-iframe')" style="border:none;padding:0;margin:0"]
