ruby:
  headers = {
    'From'    => @mail.from,
    'To'      => @mail.to,
    'CC'      => @mail.cc,
    'BCC'     => @mail.bcc,
    'Subject' => @mail.subject || '(no subject)'
  }.delete_if { |k, v| v.blank? }



dl
  - headers.each do |header, value|
    dt #{header}
    dd #{format_header(value)}
