ruby:
  headers = {
    'From'     => @mail.from,
    'To'       => @mail.to,
    'Reply to' => @mail.reply_to,
    'CC'       => @mail.cc,
    'BCC'      => @mail.bcc,
    'Subject'  => @mail.subject || '(no subject)'
  }.delete_if { |k, v| v.blank? }


dl.inline-dl
  - headers.each do |header, value|
    dt #{header}
    dd #{format_header(value)}
